<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="social">
        <a class="footer-logo-link" href="/index.html" aria-label="Go to homepage">
          <svg class="footer-logo" width="146" height="84">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="icon-list">
          <li class="icon-item">
            <a href="https://www.facebook.com/" target="_blank" class="social-link">
              <svg class="icon" width="24" height="24" viewBox="0 0 32 32" aria-label="facebook">
                <use href="/img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="icon-item">
            <a href="https://www.instagram.com/" target="_blank" class="social-link">
              <svg class="icon" width="24" height="24" viewBox="0 0 32 32" aria-label="instagram">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-item">
            <a href="https://www.twitter.com/" target="_blank" class="social-link">
              <svg class="icon" width="24" height="24" viewBox="0 0 32 32" aria-label="twitter">
                <use href="/img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-menu">
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-item-link" href="#about">About us</a>
          </li>
          <li class="footer-item">
            <a class="footer-item-link" href="#benefits">Benefits</a>
          </li>
          <li class="footer-item">
            <a class="footer-item-link" href="#gallery">Gallery</a>
          </li>
          <li class="footer-item">
            <a class="footer-item-link" href="#testimonials">Testimonial</a>
          </li>
          <li class="footer-item">
            <a class="footer-item-link" href="#location">Location</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="rights">&copy; 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>