<section class="gallery-section" id="gallery">
  <div class="container gallery-container">
    <div class="text-container">
      <h2 class="section-title">Coffee Moments</h2>
      <p class="section-description">
        Experience the warmth and community of CoffeeJoy.
      </p>
    </div>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          srcset="/images/1-moment.webp 1x, /images/1-moment2x.webp 2x"
          src="/images/1-moment.jpg"
          alt="cup of cuppuccino image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/images/2-moment.webp 1x, /images/2-moment2x.webp 2x"
          src="/images/2-moment.jpg"
          alt="black coffee with croissant image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/images/3-moment.webp 1x, /images/3-moment2x.webp 2x"
          src="/images/3-moment.jpg"
          alt="cup of coffee with book image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/images/4-moment.webp 1x, /images/4-moment2x.webp 2x"
          src="/images/4-moment.jpg"
          alt="cup of coffee with caramel image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/images/5-moment.webp 1x, /images/5-moment2x.webp 2x"
          src="/images/5-moment.jpg"
          alt="coffee joy studio image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/images/6-moment.webp 1x, /images/6-moment2x.webp 2x"
          src="/images/6-moment.jpg"
          alt="two cups of coffee on table image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/images/7-moment.webp 1x, /images/7-moment2x.webp 2x"
          src="/images/7-moment.jpg"
          alt="cup of coffee outdoors image"
          class="gallery-image"
        />
      </li>
    </ul>
  </div>
</section>
