<section class="gallery-section" id="gallery">
  <div class="container gallery-container">
    <div class="text-container">
      <h2 class="section-title">Coffee Moments</h2>
      <p class="section-description">
        Experience the warmth and community of CoffeeJoy.
      </p>
    </div>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          srcset="/img/1-moment.webp 1x, /img/1-moment2x.webp 2x"
          src="/img/1-moment.webp"
          alt="cup of cuppuccino image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/img/2-moment.webp 1x, /img/2-moment2x.webp 2x"
          src="/img/2-moment.webp"
          alt="black coffee with croissant image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/img/3-moment.webp 1x, /img/3-moment2x.webp 2x"
          src="/img/3-moment.webp"
          alt="cup of coffee with book image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/img/4-moment.webp 1x, /img/4-moment2x.webp 2x"
          src="/img/4-moment.webp"
          alt="cup of coffee with caramel image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/img/5-moment.webp 1x, /img/5-moment2x.webp 2x"
          src="/img/5-moment.webp"
          alt="coffee joy studio image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/img/6-moment.webp 1x, /img/6-moment2x.webp 2x"
          src="/img/6-moment.webp"
          alt="two cups of coffee on table image"
          class="gallery-image"
        />
      </li>
      <li class="gallery-item">
        <img
          srcset="/img/7-moment.webp 1x, /img/7-moment2x.webp 2x"
          src="/img/7-moment.webp"
          alt="cup of coffee outdoors image"
          class="gallery-image"
        />
      </li>
    </ul>
  </div>
</section>
