<header class="header">
  <div class="container">
    <a class="header-logo-link" href="/index.html" aria-label="Go to homepage">
      <svg class="header-logo" width="84" height="36" alt="Company Logo">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-item-link" href="#about">About us</a>
        </li>
        <li class="header-item">
          <a class="header-item-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-item">
          <a class="header-item-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-item">
          <a class="header-item-link" href="#testimonials">Testimonial</a>
        </li>
        <li class="header-item">
          <a class="header-item-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>

    <button class="mobile-menu-open" type="button" data-menu-open>
      <svg
        class="burger-btn-icon"
        width="24"
        height="24"
        aria-label="Open menu"
      >
        <use href="/img/icons.svg#icon-burger-btn"></use>
      </svg>
    </button>
  </div>
</header>
