<div class="mobile-menu" data-menu>
  <div class="container menu-container">
    <div class="menu-header">
      <a
        class="header-logo-link"
        href="/index.html"
        aria-label="Go to homepage"
      >
        <svg class="header-logo" width="84" height="36">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button class="mobile-menu-close" data-menu-close>
        <svg
          class="mobile-menu-close-icon"
          width="12"
          height="12"
          aria-label="Close menu"
        >
          <use href="/img/icons.svg#icon-cross"></use>
        </svg>
      </button>
    </div>

    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#about">About us</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#testimonial">Testimonial</a>
        </li>
        <li class="mobile-menu-nav-item">
          <a class="mobile-menu-nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
