<div class="modal-overlay" data-modal>
  <div class="modal-form">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="close-icon" width="14" height="14">
        <use href="/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="modal-text">
      <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
      <p class="modal-desc">
        Fresh brews, special offers, and cozy updates are coming your way.
      </p>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /images/modal/modal-desc-min.jpg    1x,
          /images/modal/modal-desc@2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /images/modal/modal-tab-min.jpg    1x,
          /images/modal/modal-tab@2x-min.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /images/modal/modal-mob-min.jpg    1x,
          /images/modal/modal-mob@2x-min.jpg 2x
        "
      />
      <img
        class="graitfull-foto"
        src="/images/modal/modal-desc-min.jpg"
        alt="cup of coffee envelope and croissant"
        width="644"
        height="374"
      />
    </picture>
    <button type="submit" class="modal-button">Close</button>
  </div>
</div>
