<div class="modal-overlay" data-modal>
  <div class="modal-form">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="close-icon" width="14" height="14">
        <use href="/images/icons.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="modal-text">
      <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
      <p class="modal-desc">
        Fresh brews, special offers, and cozy updates are coming your way.
      </p>
    </div>
    <img
      srcset="/images/Generate.webp 1x, /images/Generate2x.webp 2x"
      src="/images/Generate.jpg"
      alt="Graitfull"
      width="256"
      height="200"
      class="Graitfull-foto"
      loading="lazy"
    />
    <button type="submit" class="modal-button">Close</button>
  </div>
</div>
