<section class="benefits-section" id="benefits">
  <div class="container benefits-container">
    <p class="benefits-text-subtitle">Quality</p>
    <h2 class="benefits-section-title">
      Why CoffeeJoy Stands Out from the Rest
    </h2>
    <p class="benefits-section-description">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <ul class="benefits-list">
      <li class="benefits-item">
        <img
          srcset="/images/coffee.webp 1x, /images/coffee2x.webp 2x"
          src="/images/coffee.jpg"
          alt="sourced beans image"
          class="benefits-image"
          loading="lazy"
          decoding="async"
        />
        <h3 class="benefits-subtitle">Fresh-Roasted Coffee for Every Taste</h3>
        <p class="benefits-text">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="benefits-item">
        <img
          srcset="/images/barista.webp 1x, /images/barista2x.webp 2x"
          src="/images/barista.jpg"
          alt="barista image"
          class="benefits-image"
          loading="lazy"
          decoding="async"
        />
        <h3 class="benefits-subtitle">
          Expert Baristas Crafting Your Perfect Brew
        </h3>
        <p class="benefits-text">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="benefits-item">
        <img
          srcset="/images/cozy.webp 1x, /images/cozy2x.webp 2x"
          src="/images/cozy.jpg"
          alt="cozy atmosphere image"
          class="benefits-image"
          loading="lazy"
          decoding="async"
        />
        <h3 class="benefits-subtitle">Cozy Atmosphere</h3>
        <p class="benefits-text">
          We don’t just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>
