<section class="subscribe-section">
  <div class="container subscribe-container">
    <div class="subscribe-content">
      <div class="subscribe-header">
        <h2 class="subscribe-title">Join Our Coffee Community</h2>
        <p class="subscribe-description">
          Experience the joy of coffee delivered right to your door. Sign up
          today!
        </p>
      </div>
      <form class="subscribe-form">
        <div class="subscribe-input-control">
          <input
            class="subscribe-input"
            type="email"
            name="email"
            placeholder="Your Email Here"
            required
            aria-label="write your email for subscribe"
          />
          <button class="subscribe-btn" type="submit">
            Subscribe
            <svg class="subscribe-svg" width="24" height="24">
              <use href="./images/icons.svg#icon-next"></use>
            </svg>
          </button>
        </div>
        <small class="subscribe-note"
          >By clicking Get Started, you agree to our Terms and
          Conditions.</small
        >
      </form>
    </div>
    <picture class="subscribe-image">
      <source
        media="(min-width: 1440px)"
        srcset="
          /images/subscribe/subscribe-desc-min.webp    1x,
          /images/subscribe/subscribe-desc@2x-min.webp 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /images/subscribe/subscribe-tab-min.webp    1x,
          /images/subscribe/subscribe-tab@2x-min.webp 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /images/subscribe/subscribe-mob-min.webp    1x,
          /images/subscribe/subscribe-mob@2x-min.webp 2x
        "
      />
      <img
        class="subscribe-images"
        src="/images/subscribe/subscribe-desc-min.webp"
        alt="people in the office at the computer"
        width="704"
        height="400"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
</section>
