<section class="section testimonial-section" id="testimonial">
  <div class="container testimonial-container">
    <h2 class="testimonial-title">WHAT OUR VISITORS SAY</h2>

    <ul class="reviews_list">
      <!-- review №1 / Name Surname (4 stars) -->
      <li class="review-card">
        <div class="review-card-group">
          <ul class="stars-list">
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-white-star"
                width="20"
                height="19"
                aria-label="white-star"
              >
                <use href="../img/icons.svg#icon-white-star"></use>
              </svg>
            </li>
          </ul>

          <p class="review-text">
            &quot;Every cup feels like a warm hug! I'm addicted to their
            seasonal flavors!&quot;
          </p>
        </div>
        <p class="review-author">Name Surname</p>
      </li>

      <!-- review №2 / Alice Johnson (4 stars)-->
      <li class="review-card">
        <div class="review-card-group">
          <ul class="stars-list">
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-white-star"
                width="20"
                height="19"
                aria-label="white-star"
              >
                <use href="../img/icons.svg#icon-white-star"></use>
              </svg>
            </li>
          </ul>

          <p class="review-text">
            &quot;CoffeeJoy is my go-to place for a perfect cup of coffee! The
            ambiance is so inviting, and the baristas are always friendly.&quot;
          </p>
        </div>
        <p class="review-author">Alice Johnson</p>
      </li>

      <!-- review №3 / Michael Smith (5 stars)-->
      <li class="review-card">
        <div class="review-card-group">
          <ul class="stars-list">
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
          </ul>

          <p class="review-text">
            &quot;CoffeeJoy is my go-to place for a perfect cup of coffee! The
            ambiance is so inviting, and the baristas are always friendly.&quot;
          </p>
        </div>
        <p class="review-author">Michael Smith</p>
      </li>

      <!-- review №4 / Emily Davis (3 stars)-->
      <li class="review-card">
        <div class="review-card-group">
          <ul class="stars-list">
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-white-star"
                width="20"
                height="19"
                aria-label="white-star"
              >
                <use href="../img/icons.svg#icon-white-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-white-star"
                width="20"
                height="19"
                aria-label="white-star"
              >
                <use href="../img/icons.svg#icon-white-star"></use>
              </svg>
            </li>
          </ul>

          <p class="review-text">
            &quot;The pastries are to die for! I can&rsquo;t resist pairing them
            with my favorite latte. Highly recommend this spot!&quot;
          </p>
        </div>
        <p class="review-author">Emily Davis</p>
      </li>

      <!-- review №5 / James Brown (5 stars)-->
      <li class="review-card">
        <div class="review-card-group">
          <ul class="stars-list">
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
          </ul>

          <p class="review-text">
            &quot;A cozy little gem! CoffeeJoy has the best cold brew in town. I
            come here every weekend!&quot;
          </p>
        </div>
        <p class="review-author">James Brown</p>
      </li>

      <!-- review №6 / Sarah Wilson (3 stars)-->
      <li class="review-card">
        <div class="review-card-group">
          <ul class="stars-list">
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-white-star"
                width="20"
                height="19"
                aria-label="white-star"
              >
                <use href="../img/icons.svg#icon-white-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-white-star"
                width="20"
                height="19"
                aria-label="white-star"
              >
                <use href="../img/icons.svg#icon-white-star"></use>
              </svg>
            </li>
          </ul>

          <p class="review-text">
            &quot;The atmosphere is perfect for working or relaxing with
            friends. Their Wi-Fi is fast too!&quot;
          </p>
        </div>
        <p class="review-author">Sarah Wilson</p>
      </li>

      <!-- review №7 / Chris Lee (4 stars)-->
      <li class="review-card">
        <div class="review-card-group">
          <ul class="stars-list">
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-white-star"
                width="20"
                height="19"
                aria-label="white-star"
              >
                <use href="../img/icons.svg#icon-white-star"></use>
              </svg>
            </li>
          </ul>

          <p class="review-text">
            &quot;I&rsquo;m addicted to their seasonal flavors! Each one is
            crafted with such care and creativity.&quot;
          </p>
        </div>
        <p class="review-author">Chris Lee</p>
      </li>

      <!-- review №8 / Patricia Taylor (4 stars)-->
      <li class="review-card">
        <div class="review-card-group">
          <ul class="stars-list">
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-black-star"
                width="20"
                height="19"
                aria-label="black-star"
              >
                <use href="../img/icons.svg#icon-black-star"></use>
              </svg>
            </li>
            <li class="star-icon-element">
              <svg
                class="icon-white-star"
                width="20"
                height="19"
                aria-label="white-star"
              >
                <use href="../img/icons.svg#icon-white-star"></use>
              </svg>
            </li>
          </ul>

          <p class="review-text">
            &quot;I appreciate how they source their coffee beans sustainably.
            It's great to support such an ethical business!&quot;
          </p>
        </div>
        <p class="review-author">Patricia Taylor</p>
      </li>
    </ul>
  </div>
</section>
