<section class="about-section" id="about">
  <div class="container">
    <div class="welcome-title">
      <p class="welcome-text">Welcome</p>
      <h2>Our Journey: Passion for Quality Coffee</h2>
    </div>
    <div class="welcome-description">
      <p>
        At CoffeeJoy, we believe that every cup tells a story. Our mission is to
        bring you the finest coffee experiences, crafted with care and
        dedication. We are committed to sourcing high-quality beans and roasting
        them to perfection, ensuring each sip is a delight.
      </p>
      <a class="welcome-button" href="#location">
        Find location
        <svg class="welcome-icon" width="20" height="20">
          <use href="/images/icons.svg#icon-location"></use>
        </svg>
      </a>
    </div>
    <div class="welcome-images">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /images/welcome/coffe-desktop-1-min.webp    1x,
            /images/welcome/coffe-desktop-1@2x-min.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/welcome/coffe-tablet-1-min.webp    1x,
            /images/welcome/coffe-tablet-1@2x-min.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /images/welcome/coffe-mobile-1.webp    1x,
            /images/welcome/coffe-mobile-1@2x.webp 2x
          "
        />
        <img
          src="/images/welcome/coffe-desktop-1-min.webp 1x"
          srcset="/images/welcome/coffe-desktop-1@2x-min.webp 2x"
          class="welcome-rounded"
          alt="Coffe Maker"
          width="1312"
          height="738"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
