.about-section .container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.welcome-title {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.welcome-description {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.welcome-images {
  flex: 1 1 100%;
  height: 162px;
}

.rounded-welcome {
  border-radius: 40px;
}

.welcome-button {
  display: inline-flex;
  align-items: center;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  border-radius: 100px;
  padding: 10px 24px;
  height: 44px;
  box-shadow:
    0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--color-coffee-dark);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 14px;
  justify-content: center;
}

.welcome-icon {
  display: block;
  fill: white;
  width: 20px;
  height: 20px;
}

.welcome-button:hover {
  opacity: 0.5;
}

.welcome-button:active,
.welcome-button:focus {
  box-shadow: none;
  opacity: 1;
}

.welcome-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest) #0b0803;
}

@media only screen and (min-width: 768px) {
  .welcome-title {
    flex: 0 0 calc((100% - 32px) / 2);
  }

  .welcome-description {
    flex: 0 0 calc((100% - 32px) / 2);
  }

  .welcome-images {
    flex: 1 1 100%;
    height: 396px;
  }

  .welcome-button {
    width: fit-content;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .about-section .container {
    row-gap: 80px; /* vertical spacing */
    column-gap: 32px; /* horizontal spacing */
  }

  .welcome-images {
    height: 738px;
  }
}
