.benefits-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 16px;
}

.benefits-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.benefits-text-subtitle {
  text-align: center;
  max-width: 288px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.benefits-section-title {
  text-align: center;
  max-width: 288px;
  text-transform: uppercase;
}

.benefits-section-description {
  text-align: center;
  max-width: 288px;
}

.benefits-image {
  border-radius: 32px;
  box-shadow:
    5px 5px 8px #aa9a78,
    -5px -5px 8px #e2cc9e;
  margin-bottom: 32px;
  background-color: var();
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  margin-bottom: 8px;
}

.benefits-text {
  line-height: 24px;
  text-align: center;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .benefits-item {
    min-width: 288px;
    max-width: 343px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .benefits-section-title {
    max-width: 100%;
  }
}
