.benefits-section {
  padding: 64px 0;
  text-align: center;
}

.benefits-text-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  color: var(--color-neutral-darkest);
}

.benefits-section-title {
  margin-bottom: 16px;
}

.benefits-section-description {
  margin-bottom: 32px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.benefits-image {
  border-radius: 32px;
  box-shadow:
    5px 5px 8px #aa9a78,
    -5px -5px 8px #e2cc9e;
  margin-bottom: 32px;
  width: 100%;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  margin-bottom: 8px;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-neutral-darkest);
}

@media only screen and (min-width: 768px) {
  .benefits-section-title {
    width: 452px;
    margin: 0 auto;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .benefits-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% - 24px) / 2);
  }

  .benefits-item:last-child {
    flex-grow: 2;
  }

  .benefits-item:nth-child(3) .benefits-text {
    margin: 0 132px;
  }
}

@media only screen and (min-width: 1440px) {
  .benefits-section-title {
    width: 768px;
    font-size: 48px;
    margin: 0 auto 24px;
  }

  .benefits-section-description {
    width: 768px;
    margin: 0 auto 32px;
  }

  .benefits-item {
    width: calc((100% - 48px) / 3);
    border-radius: 32px;
  }

  .benefits-image {
    transition:
      transform 250ms ease-in-out,
      scale 250ms ease-in-out,
      background-color 250ms ease-in-out,
      box-shadow 250ms ease-in-out;
  }

  .benefits-image:hover,
  .benefits-image:focus {
    transform: scale(1.05);
    background-color: var(--color-scheme-1-hover);
  }

  .benefits-text,
  .benefits-item:nth-child(3) .benefits-text {
    margin: 0 auto;
  }

  .benefits-item:nth-child(1) .benefits-text {
    margin-bottom: 24px;
  }
}
