.gallery-section .container {
  display: flex;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.section-title {
  text-align: center;
  max-width: 288px;
  text-transform: uppercase;
}

.section-description {
  text-align: center;
  max-width: 288px;
}

.gallery-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 32px;
  box-shadow:
    5px 5px 8px #aa9a78,
    -5px -5px 8px #e2cc9e;
  transition: transform 250ms ease-in-out;
}

.gallery-item img {
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .gallery-item {
    min-width: 288px;
    max-width: 343px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .section-title,
  .section-description {
    max-width: 768px;
  }

  .gallery-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery-list {
    flex-direction: column;
    justify-content: flex-start;
    max-height: 948px;
  }

  .gallery-item:hover {
    transform: scale(1.05);
  }
}
