.gallery-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.section-title {
  text-align: center;
  max-width: 288px;
  text-transform: uppercase;
}

.section-description {
  text-align: center;
  max-width: 288px;
}

.gallery-image {
  border-radius: 32px;
  box-shadow:
    5px 5px 8px #aa9a78,
    -5px -5px 8px #e2cc9e;
}

.gallery-item:last-child .gallery-image {
  object-fit: cover;
  height: 391px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .gallery-item {
    min-width: 288px;
    max-width: 343px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .section-title {
    max-width: 100%;
  }

  .section-description {
    max-width: 100%;
  }
  .gallery-item {
    width: 336px;
    height: 336px;
  }

  .gallery-item:nth-child(3),
  .gallery-item:nth-child(4) {
    height: 189px;
  }

  section .gallery-list {
    gap: 32px;
  }

  .gallery-item:last-child {
    width: 704px;
    height: 391px;
  }
  .gallery-item:last-child .gallery-image {
    width: 704px;
    height: 391px;
  }

  .gallery-image {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery-list {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    max-height: 948px;
  }

  .gallery-item {
    width: 416px;
    height: 416px;
  }

  .gallery-item:nth-child(3),
  .gallery-item:nth-child(4) {
    height: 234px;
  }

  .gallery-item:last-child {
    width: 416px;
    height: 416px;
  }

  .gallery-image {
    transition: transform 250ms ease-in-out;
  }

  .gallery-image:hover {
    transform: scale(1.05);
  }
}
