.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-coffee-lighter);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 10px;
}

.header-nav {
  display: none;
}

.mobile-menu-open {
  border: none;
  background-color: transparent;
  padding: 12px;
}

.burger-btn-icon {
  display: block;
  fill: var(--color-scheme-1-text);
}

@media only screen and (min-width: 768px) {
  .header .container {
    padding: 0 64px;
  }

  .mobile-menu-open {
    display: none;
  }

  .header-nav {
    display: block;
  }

  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .header-item-link {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-scheme-1-text);
    padding: 24px 0;
    transition: opacity 250ms ease-in-out;
  }

  .header-item-link:hover,
  .header-item-link:focus {
    opacity: 0.5;
  }

  .header-item-link:active {
    opacity: 0.7;
  }
}
