.hero-section {
  background-image: url('/img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;

  @media screen and (min-resolution: 2x) {
    background-image: url('/img/hero2x.jpg');
  }
}

.hero-container {
  padding: 108.5px 32px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 256px;
  margin: 0 auto;
}

.hero-title {
  font-family: var(--second-family);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-white);
  margin-bottom: 24px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);

  margin-bottom: 32px;
}

.hero-button {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  border-radius: 100px;
  padding: 10px 24px;
  width: 135px;
  height: 44px;
  box-shadow:
    0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--color-coffee-dark);
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 311.5px 176px 311.5px 32px;
  }

  .hero-content {
    max-width: 560px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .hero-container {
    padding: 259px 818px 259px 64px;
  }
}
