.location .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.location-content {
    width: 100%;
}
.location address {
    font-style: normal;
}
.location-header {
    margin-bottom: 40px;
}
.location-tag-txt {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;   
}
.location-title {
    margin-bottom: 24px;
}
.location-description {
    font-weight: 400;
}
.location-addr {
    margin-bottom: 32px;
}
.location-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 0;
}
.location-svg {
    width: 32px;
    height: 32px;
    fill: var(--color-scheme-1-text);
    display: block;
    line-height: 1;
    margin-bottom: 16px;
}
.location-list-title {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.40;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
    text-transform:uppercase ;
}
.location-link {
    display: block;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.location-list-txt {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}
.location-direction {
    position: relative;
    display: block;
    margin-bottom: 0;
  
}
.location-direction .location-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    
}
.location-svg.chevron-right {
    width: 8px;
    height: 12px;
    position: absolute;
    left: 113px;
    top:50%;
    transform: translateY(-50%);
    margin-bottom: 0;
}
.location-map-div {
    border-radius: 40px;
    width: 100%;
    height: 307px;
    overflow: hidden;
}
@media only screen and (min-width: 768px) {
    .location-header {
        margin-bottom: 40px;
    }
    .location-content {
        width: 100%;
    }
    .location-list {
        flex-direction: row;
        justify-content: space-between;
    }
    .location-list-txt {
        width: 208px;
    }
    .location-map-div {
        height: 377px;
    }
}
@media only screen and (min-width: 1440px) {
    .location .container {
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: space-between;
        gap: 24px;
    }
    .location-content {
        flex: 0 0 419px;
        max-width: 419px;
    }
    .location-list {
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .location-list-txt {
        width: 100%;
    }
     .location-map-div {
        flex: 1;
        width: auto;
        height: 697px
    }
}