.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-scheme-1-background);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;

  transform: translateX(100%);
  transition:
    transform 250ms ease-in-out,
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateX(0);
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-close {
  padding: 0;
  border: none;
  background-color: transparent;
  padding: 12px;
}

.mobile-menu-close-icon {
  display: block;
  fill: var(--color-scheme-1-text);
}

.mobile-menu-nav {
  margin: auto;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.mobile-menu-nav-link {
  font-weight: 400;
  font-size: 16px;
  transition: opacity 250ms ease-in-out;
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  opacity: 0.5;
}

.mobile-menu-nav-link:active {
  opacity: 0.7;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
